*/_built_r/
*/_built_d/
*/bin/
*/log/
log/
node_modules/
*/node_modules/
modules/
!modules/openode/
projects/
!projects/openode
public/js/MathJax-master/
package-lock.json

*.pyc
*.so
*.tar
*.zip
*/--*


